.makeGroups_group{
    margin : 4px auto;
    padding : 10px;
    height : 80px;
    width : 450px;
    border : 2px solid black;
}

.makeGroups_group > h5{
    margin : 0;
}

.makeGroups_courselist {
    width : 100%;
}
.makeGroups_rank{
    height : 20px;
    width : 100%;
    box-sizing : border-box;
    border-top : 1px solid black;
    padding-top : 3px;
    margin-bottom: 3px;
}
.makeGroups_course{
    font-size : 12px;
    padding-right : 2px; 
}

#makeGroups_showCourse{
    border-collapse : collapse;
    font-size : 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#makeGroups_showCourse th{
    width: 100px;
}